:root {
  --primary-color: #3A5199;
  --secondary-color: #36A18B;
}

body {
  background: linear-gradient(120deg, var(--primary-color), var(--secondary-color));
  animation: colorShift 15s infinite alternate;
}

@keyframes colorShift {
  0% {filter: hue-rotate(0deg);}
  100% {filter: hue-rotate(360deg);}
}